.all-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;

  a {
    color: white;
    text-decoration: none;
  }

  .projects-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    width: 800px;

    .project-gallery {
      .project-card {
        display: flex;
        background-color: #565656;
        height: 10em;
        border-radius: 2em;

        &:hover {
          transform: scale(1.02);
          transition: all 0.5s;
        }

        &:not(:hover) {
          transition: all 0.5s;
        }

        .project-card-image {
          width: 30%;
          height: 100%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 2em 0 0 2em;
        }
        
        .detail {
          display: flex;
          flex-direction: column;
          padding: 1em;
          width: 70%;
        }
      }
    }
  }
}