.mode {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0.5rem;
  padding-right: 2rem;
  width: 100%;

  input[type="checkbox"] {
    display: none;
  }

  label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin-right: 0.5rem;
    background-color: #787878;
    border-radius: 2rem;
    transition: all 0.3s;
    cursor: pointer;

    &:before {
      position: absolute;
      content: "";
      width: 26px;
      height: 26px;
      background-color: #dcdcdc;
      border-radius: 50%;
      top: 2px;
      left: 2px;
      transition: all 0.3s;
    }
  }
}

.mode input:checked + label {
  background-color: #6cb958;
}

.mode input:checked + label:before {
  transform: translateX(30px);
}
