* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text-color: rgb(248, 248, 248);
}

a {
  color: var(--text-color);
  text-decoration: inherit;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1em;
  padding: 1em;
  width: 800px;
  transition: all 0.75s ease;

  .card-round {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em 2em;
    background: linear-gradient(0deg, rgb(127, 127, 127), rgb(176, 176, 176));
    border-radius: 2em;
    overflow: hidden;
    transition: transform 0.3s ease;
    
    &:hover {
      transform: scale(1.03);
      transition: transform 0.3s ease;
    }
  }

  .card-1 {
    grid-area: 1 / 1 / 3 / 2;
    background-image: url("../public/images/profile.jpg");
    background-repeat: none;
    background-position: center;
    background-size: cover;
  }
  .card-2 {
    grid-area: 1 / 2 / 2 / 3;
    position: relative;

    .nickname {
      position: absolute;
      font-size: 5em;
      opacity: 0;
    }

    &:hover {
      h1 {
        opacity: 0;
        transition: all 0.3s ease;
      }
      .nickname {
        opacity: 1;
        transition: all 0.6s ease;
      }
    }

    &:not(:hover) {
      h1 {
        opacity: 1;
        transition: all 0.6s ease;
      }
      .nickname {
        opacity: 0;
        transition: all 0.3s ease;
      }
    }
  }
  .card-3 {
    grid-area: 1 / 3 / 2 / 4;
  }
  .card-4 {
    grid-area: 2 / 2 / 3 / 4;
    position: relative;
    transition: all 0.5s ease;

    h1 {
      transform: translateY(-40%);
    }

    .experience {
      display: flex;
      flex-direction: column;

      .date-sliding, .job-sliding, .duration-sliding {
        position: absolute;
      }
      .date-sliding {
        left: 6.5%;
      }
      .job-sliding {
        left: 40%;
      }
      .duration-sliding {
        right: -30%;
      }
    }

    &:hover {
      transition: all 0.5s ease;

      .date-sliding {
        left: -30%;
        transition: all 0.5s ease;
      }
      .job-sliding {
        left: 6.5%;
      }
      .duration-sliding {
        right: 7%;
      }
    }
    &:not(:hover) .date-sliding, .job-sliding, .duration-sliding {
      transition: all 0.5s ease;
    }
  }
  .card-5 {
    grid-area: 3 / 1 / 4 / 3;

    ul  {
      display: flex;
      gap: 2em;
      list-style: none;
    }
  }
  .card-6 {
    grid-area: 3 / 3 / 4 / 4;
    position: relative;
    transition: all 0.5s ease;
    overflow: hidden;

    .find-out-more {
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 0.5s ease;

      h1 {
        word-wrap: break-word;
      }

      .arrow {
        position: absolute;
        right: -25%;
      }
    }
    
    &:hover {
      cursor: pointer;

      h1 {
        transform: translateX(-5%);
        transition: all 0.5s ease;
      }

      .arrow {
        right: 10%;
        transform: rotate(90deg);
      }
    }

    &:not(:hover) h1, .arrow {
      transition: all 0.5s ease;
    }
  }
  .card-7 {
    grid-area: 4 / 1 / 5 / 4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;

    .contact-container {
      display: flex;
      align-items: center;
      gap: 2em;

      a {
        display: flex;
        align-items: center;
        padding: 0.5em 1em;
        gap: 0.5em;
        border-radius: 1em;

        &.linkedin {
          color: black;
          background-color: rgb(210, 210, 210);

          &:hover {
            background-color: rgb(235, 235, 235);
            transition: all 0.3s ease;
          }

          &:not(:hover) {
            transition: all 0.3s ease;
          }
        }
        
        &.github {
          background-color: #000000;
          
          &:hover {
            background-color: rgb(81, 81, 81);
            transition: all 0.3s ease;
          }

          &:not(:hover) {
            transition: all 0.3s ease;
          }
        }

        img {
          width: 1.5em;
          height: 1.5em;
        }
      }
    }

    &.hide {
      opacity: 0;
      transform: scale(0);
      transition: all 0.7s ease;
    }

    &.show {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      visibility: visible;
      height: auto;
      transform: scale(1);
      opacity: 1;
      transition: all 0.7s ease;
    }
    &:target ~ .card-7 {
      transform: scale(1);
      opacity: 1;
    }

    .arrow {
      transition: all 0.4s ease;

      &:hover {
        transform: translateY(-10%);
        transition: all 0.4s ease;
      }

      .hide {
        transform: scale(0);
        opacity: 0;
      } 
    }
  }
}

.gallery {
  display: flex;
  gap: 1em;
  overflow: hidden;
}
.gallery .card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 240px;
  padding: 1em;
  background-color: aquamarine;
  border-radius: 1em;
}