* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text-color: rgb(248, 248, 248);
}

a {
  color: var(--text-color);
  text-decoration: inherit;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3em;
  width: 100%;
  overflow-x: hidden;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1em;
  padding: 1em;
  width: 800px;
  transition: all 0.75s ease;

  .card-round {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em 2em;
    background: linear-gradient(0deg, rgb(127, 127, 127), rgb(176, 176, 176));
    border-radius: 2em;
    overflow: hidden;
    transition: transform 0.3s ease;
    
    &:hover {
      transform: scale(1.03);
      transition: transform 0.3s ease;
    }
  }

  .card-1 {
    grid-area: 1 / 1 / 3 / 2;
    background-image: url("/images/profile.jpg");
    background-repeat: none;
    background-position: center;
    background-size: cover;
  }
  .card-2 {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
    position: relative;

    .fullname {
      position: absolute;
    }

    .nickname {
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: 2em;

      .letter-1 {
        transform: translateY(-90%);
      }

      .letter-2 {
        transform: translateY(80%);
      }

      .letter-3 {
        transform: translateY(-120%);
      }
    }

    &:hover {
      h1 {
        opacity: 0;
        transition: all 0.3s ease;
      }
      .nickname {
        opacity: 1;
        transition: all 0.6s ease;

        & > * {
          transform: none;
        }
      }
    }

    &:not(:hover) {
      h1 {
        opacity: 1;
        transition: all 1.2s ease;
      }
      .nickname {
        opacity: 0;
        transition: all 1.2s ease;
      }
    }
  }
  .card-3 {
    grid-area: 1 / 3 / 2 / 4;
  }
  .card-4 {
    grid-area: 2 / 2 / 3 / 4;
    position: relative;
    transition: all 0.5s ease;

    h1 {
      transform: translateY(-40%);
    }

    .experience {
      display: flex;
      flex-direction: column;

      .date-sliding, .job-sliding, .duration-sliding {
        position: absolute;
      }
      .date-sliding {
        left: 6.5%;
      }
      .job-sliding {
        left: 40%;
      }
      .duration-sliding {
        right: -30%;
      }
    }

    &:hover {
      transition: all 0.5s ease;

      .date-sliding {
        left: -30%;
        transition: all 0.5s ease;
      }
      .job-sliding {
        left: 6.5%;
      }
      .duration-sliding {
        right: 7%;
      }
    }
    &:not(:hover) .date-sliding, .job-sliding, .duration-sliding {
      transition: all 0.5s ease;
    }
  }
  .card-5 {
    grid-area: 3 / 1 / 4 / 3;

    ul  {
      display: flex;
      gap: 2em;
      font-weight: 500;
      list-style: none;
    }
  }
  .card-6 {
    grid-area: 3 / 3 / 4 / 4;
    position: relative;
    transition: all 0.5s ease;
    overflow: hidden;

    .find-out-more {
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 0.5s ease;

      h1 {
        word-wrap: break-word;
      }

      .arrow {
        position: absolute;
        right: -25%;
      }
    }
    
    &:hover {
      cursor: pointer;

      h1 {
        transform: translateX(-5%);
        transition: all 0.5s ease;
      }

      .arrow {
        right: 10%;
        transform: rotate(90deg);
      }
    }

    &:not(:hover) h1, .arrow {
      transition: all 0.5s ease;
    }
  }
  .card-7 {
    grid-area: 4 / 1 / 5 / 4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;

    .contact-container {
      display: flex;
      align-items: center;
      gap: 2em;

      a {
        display: flex;
        align-items: center;
        padding: 0.5em 1em;
        gap: 0.5em;
        border-radius: 1em;

        &.linkedin {
          color: black;
          background-color: rgb(222, 222, 222);

          &:hover {
            background-color: rgb(235, 235, 235);
            transition: all 0.3s ease;
          }

          &:not(:hover) {
            transition: all 0.3s ease;
          }
        }
        
        &.github {
          background-color: #000000;
          
          &:hover {
            background-color: rgb(81, 81, 81);
            transition: all 0.3s ease;
          }

          &:not(:hover) {
            transition: all 0.3s ease;
          }
        }

        &.resume {
          background-color: #ce5353;
          
          &:hover {
            background-color: rgb(160, 40, 40);
            transition: all 0.3s ease;
          }

          &:not(:hover) {
            transition: all 0.3s ease;
          }
        }

        img {
          width: 1.5em;
          height: 1.5em;
        }
      }
    }

    &.hide {
      opacity: 0;
      transform: scale(0);
      transition: all 0.7s ease;
    }

    &.show {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      visibility: visible;
      height: auto;
      transform: scale(1);
      opacity: 1;
      transition: all 0.7s ease;
    }
    
    &:target ~ .card-7 {
      transform: scale(1);
      opacity: 1;
    }

    .arrow {
      transition: all 0.4s ease;

      &:hover {
        transform: translateY(-10%);
        transition: all 0.4s ease;
      }

      .hide {
        transform: scale(0);
        opacity: 0;
      } 
    }
  }
}

.separator {
  width: 70%;
  height: 1em;
  transition: all 0.75s ease;
  // border-bottom: 2px solid rgb(77, 99, 86);
  margin: 1em 0;
  &.show {
    height: 2em;
    transition: all 0.75s ease;
  }
}

.warning {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(45deg, #eded5f 25%, #000000 25%, #000000 50%, #eded5f 50%, #eded5f 75%, #000000 75%, #000000 100%);
  background-size: 200px 200px;
  margin-top: 1em;
  height: 3rem;
  width: 100%;
  min-width: 50ch;
  
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  color: white;
  text-shadow: 1px 1px 8px #000;
  margin-bottom: 1rem;
}

@mixin gallery-styles {
  background-size: cover;
  background-position: center;
}

.gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin-bottom: 3em;
  padding: 0 3em;
  width: 100%;
  overflow: hidden;

  .gallery-container {
    display: grid;
    position: relative;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 1fr 1fr 2fr;
    width: 100%;
    height: 100%;
    gap: 1em;

    .card {
      display: flex;
      justify-content: center;
      align-items: end;
      width: 100%;
      height: 240px;
      padding: 0 0 0.5em;
      border-radius: 1em;

      & > * {
        background-repeat: none;
        object-fit: cover;
      }

      &.gallery-1 {
        grid-area: 1/1/2/2;
        background-image: url("/images/tips-calculator.jpeg");
        @include gallery-styles;
      }

      &.gallery-2 {
        grid-area: 1/2/2/3;
        background-image: url("/images/todo-list.png");
        @include gallery-styles;
      }

      &.gallery-3 {
        grid-area: 1/3/2/4;
        background-image: url("/images/mancala.jpeg");
        @include gallery-styles;
      }

      &.gallery-4 {
        grid-area: 2/1/3/2;
        background-image: url("/images/expense-chart.jpeg");
        @include gallery-styles;
      }

      &.gallery-5 {
        grid-area: 2/2/3/3;
        background-image: url("/images/janken.jpeg");
        @include gallery-styles;
      } 

      &.gallery-6 {
        grid-area: 2/3/3/4;
        background-image: url("/images/weather-api.jpeg");
        @include gallery-styles;
      }

      .cardname {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        padding: 0.5em;
        background: white;
        font-weight: 500;
        color: black;
        border: 1px solid rgb(205, 205, 205);
        border-radius: 5em;
      }
    }

    .gallery-text {
      grid-area: 1/4/3/5;
      display: flex;
      justify-content: space-between;
      position: relative;
      flex-direction: column;
      height: 100%;
      padding: 2em;
      background-color: #487c7a;

      .link-button {
        padding: 1em;
        background-color: black;
        border-radius: 1em;
        &:hover {
          background-color: #373737;
          border: 1px solid white;
        }
      }

      &:hover {
        background-color: #7aaa98;
        transition: all 0.7s ease;

        .gallery-container {
          transform: translateX(-30%);
          height: 5em;
        }
      }

      &:not(:hover) {
        transition: all 0.7s ease;

      }
    }
  }
}

.experience {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 3em;
  gap: 1em;

  .left-side {
    ul {
      font-size: 20px;
      list-style: none;
    }
  }

  .right-side {
    padding: 0;
    gap: 0;
    background-color: #fafafa;
    border-radius: 2em;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1em;
      transition: all 0.5s ease;

      &.react {
        border-radius: 2em 0 0 2em;
      }

      &.redux {
        border-radius: 0 2em 2em 0;
      }

      img {
        width: 5em;
        height: 5em;
      }

      h2 {
        position: absolute;
        padding: 0.2em;
        color: white;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.5);
        transition: all 1s ease;

        img {
          filter: brightness(0.5);
          transition: all 0.5s ease;
        }

        h2 {
          opacity: 1;
          transition: all 0.8s ease;
        }
      }

      &:not(:hover) {
        transition: all 1s ease;
        h2 {
          opacity: 0;
          transition: all 0.5s ease;
        }
      }
    }
  }
}